/* Default - "\2190" */
/* Default - "\2190" */
/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.5;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -5vh;
  z-index: 1;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -5vh;
}

@media (max-width: 1024px) {
  .slick-prev {
    left: 45px;
  }
  [dir="rtl"] .slick-prev {
    right: 45px;
  }
}

.slick-prev:before {
  content: "";
  position: absolute;
  left: -100%;
  display: inline-block;
  width: 40px;
  height: 73px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='73' viewBox='0 0 40 73' fill='white'%3E%3Cg%3E%3Cg opacity='.5'%3E%3Cpath d='M38.026 72.98L.005 36.497 38.026.018l1.969 2.004L4.066 36.498l35.929 34.479z' /%3E%3Cpath d='M38.026 72.98L.005 36.497 38.026.018l1.969 2.004L4.066 36.498l35.929 34.479z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  transition: background 0.4s;
}

[dir="rtl"] .slick-prev:before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='73' viewBox='0 0 40 73' fill='white'%3E%3Cg%3E%3Cg opacity='.5'%3E%3Cpath d='M1.974 72.98l38.021-36.482L1.974.018.004 2.022l35.93 34.476L.004 70.977z' /%3E%3Cpath d='M1.974 72.98l38.021-36.482L1.974.018.004 2.022l35.93 34.476L.004 70.977z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.slick-prev:hover:before, .slick-prev:focus:before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='73' viewBox='0 0 40 73' fill='%23d3c1ad'%3E%3Cg%3E%3Cg %3E%3Cpath d='M38.026 72.98L.005 36.497 38.026.018l1.969 2.004L4.066 36.498l35.929 34.479z' /%3E%3Cpath d='M38.026 72.98L.005 36.497 38.026.018l1.969 2.004L4.066 36.498l35.929 34.479z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.slick-next {
  right: -5vh;
}

[dir="rtl"] .slick-next {
  left: -5vh;
  right: auto;
}

@media (max-width: 1024px) {
  .slick-next {
    right: 45px;
  }
  [dir="rtl"] .slick-next {
    left: 45px;
  }
}

.slick-next:before {
  content: "";
  position: absolute;
  right: -100%;
  display: inline-block;
  width: 40px;
  height: 73px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='73' viewBox='0 0 40 73' fill='white'%3E%3Cg%3E%3Cg opacity='.5'%3E%3Cpath d='M1.974 72.98l38.021-36.482L1.974.018.004 2.022l35.93 34.476L.004 70.977z' /%3E%3Cpath d='M1.974 72.98l38.021-36.482L1.974.018.004 2.022l35.93 34.476L.004 70.977z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  transition: background 0.4s;
}

[dir="rtl"] .slick-next:before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='73' viewBox='0 0 40 73' fill='white'%3E%3Cg%3E%3Cg opacity='.5'%3E%3Cpath d='M38.026 72.98L.005 36.497 38.026.018l1.969 2.004L4.066 36.498l35.929 34.479z' /%3E%3Cpath d='M38.026 72.98L.005 36.497 38.026.018l1.969 2.004L4.066 36.498l35.929 34.479z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.slick-next:hover:before, .slick-next:focus:before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='73' viewBox='0 0 40 73' fill='%23d3c1ad'%3E%3Cg%3E%3Cg %3E%3Cpath d='M1.974 72.98l38.021-36.482L1.974.018.004 2.022l35.93 34.476L.004 70.977z' /%3E%3Cpath d='M1.974 72.98l38.021-36.482L1.974.018.004 2.022l35.93 34.476L.004 70.977z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  height: 15px;
  width: 100%;
}

.slick-dots li {
  display: inline-block;
  height: 10px;
  margin-right: 10px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: none;
  background: transparent;
  height: 10px;
  width: 10px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  cursor: pointer;
  background-color: #fff;
  border-radius: 10px;
  width: 10px;
  height: 10px;
  transition: 0.4s;
  opacity: 0.5;
}

.slick-dots li button:hover {
  opacity: 0.8;
}

.slick-dots li button:focus {
  opacity: 1;
  width: 15px;
  height: 15px;
  border: 2px solid #d3c1ad;
  background-color: transparent;
}

.slick-dots li.slick-active button {
  opacity: 1;
  width: 15px;
  height: 15px;
  border: 2px solid #d3c1ad;
  background-color: transparent;
}
/*# sourceMappingURL=slick-theme.css.map */